/* COLORS */
$button: #FF3030;
$button-hover: #FF5F5F;
$blue: #373E4A;
$medium-blue: #373E4A;
$light-blue: #E1E4E9;
$white: #fff;
/* FONTS */
$main-font: 'Gilroy' , sans-serif;
/* RESETS */
body {
  margin: 0;
	padding: 0 0 100px 0;

}
.clear {
  clear: both;
}
h1, h2 , h3 , h4 , h5 , h6 , p {
	padding: 0;
	margin: 0;
}
/* HEADINGS */
h1 {
	font-family: $main-font;
	font-weight: normal;
	font-size: 31px;
	line-height: 45px;
}
h2 {
	font-family: $main-font;
	font-weight: 600;
	font-size: 32px;
	letter-spacing: .5pt;
	color: #373E4A;
}
h3 {
	font-family: $main-font;
	font-size: 18px;
	font-weight: 600;
	color:#5B6473;
  letter-spacing: .3pt;
}
p {
  font-family: $main-font;
  font-weight: normal;
  color: #5B6473;
  font-size: 18px;
  letter-spacing: .5pt;
  line-height: 30px;
}
/* BUTTON */
a.button , button {
	background: $button;
	font-family: $main-font;
	font-weight: bold;
	font-size: 18px;
	color: $white;
	border: none;
	outline: none;
	border-radius: 1000px;
	padding: 15px 20px;
	letter-spacing: 1pt;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .25s;
}
a.button:hover {
	background: $button-hover;
}
a.sub-link {
	font-family: $main-font;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .2pt;
	display: inline-block;
	color: $blue;
	text-decoration: none;
	border-bottom: 1px solid $blue;
}
