/* COLORS */
/* FONTS */
/* RESETS */
body {
  margin: 0;
  padding: 0 0 100px 0; }

.clear {
  clear: both; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

/* HEADINGS */
h1 {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 31px;
  line-height: 45px; }

h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: .5pt;
  color: #373E4A; }

h3 {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #5B6473;
  letter-spacing: .3pt; }

p {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  color: #5B6473;
  font-size: 18px;
  letter-spacing: .5pt;
  line-height: 30px; }

/* BUTTON */
a.button, button {
  background: #FF3030;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 1000px;
  padding: 15px 20px;
  letter-spacing: 1pt;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .25s; }

.button:hover {
  background: #373E4A;
  cursor: pointer; }

a.sub-link {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: .2pt;
  display: inline-block;
  color: #373E4A;
  text-decoration: none;
  border-bottom: 1px solid #373E4A; }

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Extrabold.woff2") format("woff2"), url("fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* HERO */
svg.hero-bg {
  position: absolute;
  z-index: -9; }

#hero-bg-gradient {
  transition: 1s; }

.container {
  max-width: 1000px;
  margin: auto; }

.hero {
  padding-top: 130px; }
  .hero .value-prop {
    max-width: 500px; }
    .hero .value-prop h1 img.logo {
      display: block;
      margin-bottom: 40px; }
  .hero a.button {
    display: inline-block;
    margin-top: 30px; }
  .hero a.sub-link {
    margin-left: 30px; }

.installation {
  max-width: 940px;
  padding: 45px;
  transition: margin-top 1s;
  margin-top: 275px;
  background: #fff;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .installation h2, .installation h3 {
    text-align: center; }
  .installation .terminal-window {
    max-width: 630px;
    height: 290px;
    margin: 45px auto 0;
    background: #000; }
    .installation .terminal-window .bar {
      width: 635px;
      height: 32px;
      background: #F7F7F7;
      text-align: center; }
      .installation .terminal-window .bar span {
        font-family: "Gilroy", sans-serif;
        font-size: 12px;
        letter-spacing: 1pt;
        transform: translateY(6px);
        display: inline-block; }
      .installation .terminal-window .bar .dots {
        position: absolute;
        margin: 10px 0 0 10px; }
        .installation .terminal-window .bar .dots div {
          width: 12px;
          height: 12px;
          border-radius: 100px;
          display: inline-block; }
        .installation .terminal-window .bar .dots .green {
          background: #7ED321; }
        .installation .terminal-window .bar .dots .red {
          background: #F12B44; }
        .installation .terminal-window .bar .dots .yellow {
          background: #FFEC00; }
    .installation .terminal-window .code {
      padding: 10px; }
      .installation .terminal-window .code p {
        padding: 0;
        margin: 0 0 10px 0;
        font-family: monospace;
        color: #fff;
        font-size: 12px;
        line-height: 10px; }
      .installation .terminal-window .code p:before {
        content: '$';
        margin-right: 10px; }
  .installation .sub-link {
    color: #FF3030;
    border-bottom: 1px solid #FF3030;
    margin-top: 45px;
    font-weight: 600; }

.features {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .features h2, .features h3, .features p {
    max-width: 550px;
    text-align: center; }
  .features p {
    margin-top: 30px;
    margin-bottom: 60px; }
  .features ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
    .features ul li {
      margin: 0;
      list-style: none;
      text-align: center;
      max-width: calc( ( 100% / 2 ) - 100px );
      margin-bottom: 90px;
      padding: 0 50px; }
      .features ul li h3 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 0; }
      .features ul li p {
        margin-top: 10px;
        margin-bottom: 10px; }
      .features ul li .sub-link {
        color: #FF3030;
        border-bottom: 1px solid #FF3030;
        margin-top: 35px; }

.subscribe {
  position: absolute;
  left: 0;
  background: #F0F7FA;
  width: 100%;
  height: 200px; }
  .subscribe .inner {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative; }
    .subscribe .inner .sub_text {
      width: 35%;
      align-self: center; }
      .subscribe .inner .sub_text p {
        font-family: "Gilroy", sans-serif;
        margin-top: 10px; }
    .subscribe .inner .sub_form {
      align-self: center;
      position: absolute;
      right: 0; }
      .subscribe .inner .sub_form input[type=email] {
        border-radius: 100px;
        padding: 15px 25px;
        font-family: "Gilroy", sans-serif;
        font-size: 18px;
        border: 1px solid #E1E4E9;
        width: 300px; }
      .subscribe .inner .sub_form input::placeholder {
        color: #E1E4E9; }
      .subscribe .inner .sub_form input:focus {
        outline: none; }
      .subscribe .inner .sub_form button {
        display: inline-block;
        margin-left: 10px; }
      .subscribe .inner .sub_form .mauticform-row {
        display: inline-block; }

.faq {
  margin-top: 300px; }
  .faq h2 {
    text-align: center;
    margin-bottom: 80px; }
  .faq ul.questions {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; }
    .faq ul.questions li {
      width: 400px;
      list-style: none;
      padding: 0 50px;
      margin: 0 0 30px 0; }
      .faq ul.questions li h3 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 0; }
      .faq ul.questions li p {
        font-family: "Gilroy", sans-serif;
        font-weight: normal;
        color: #5B6473;
        font-size: 18px;
        letter-spacing: .5pt;
        margin-top: 10px; }

.nolte_card {
  padding: 70px;
  height: 320px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background: url(images/nolte_card_bg.png) no-repeat top right #F0F7FA;
  align-items: center; }
  .nolte_card a.button {
    margin-top: 30px; }
  .nolte_card .inner {
    display: flex;
    flex-direction: column;
    max-width: 550px; }
    .nolte_card .inner h2 {
      display: flex;
      align-items: start;
      margin-bottom: 50px; }
      .nolte_card .inner h2 img {
        margin-left: 20px; }
    .nolte_card .inner .cta {
      display: inline-flex; }

.footer {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #373E4A;
  letter-spacing: .25pt; }
  .footer a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #373E4A; }

@media (max-width: 1000px) {
  h2 {
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    color: #373E4A;
    text-align: center;
    margin-bottom: 15px; }

  h3 {
    font-family: "Gilroy", sans-serif;
    font-size: 20px !important;
    text-align: center; }

  .container {
    padding: 0 20px;
    overflow: hidden; }

  .value-prop {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .value-prop h1 {
      font-family: "Gilroy", sans-serif;
      font-size: 22px;
      line-height: 35px;
      color: #373E4A;
      text-align: center; }
    .value-prop a.button,
    .value-prop a.sub-link {
      margin: 20px auto !important;
      text-align: center;
      display: table; }

  .installation {
    margin-top: 20px;
    padding: 30px 10px; }
    .installation p {
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #373E4A;
      text-align: center; }

  .terminal-window .bar {
    display: none; }
  .terminal-window .code p {
    text-align: left;
    line-height: 15px !important; }

  .features p {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #373E4A;
    text-align: center; }
  .features ul {
    flex-direction: column; }
    .features ul li {
      padding: 0 !important;
      max-width: 100%; }
      .features ul li a.sub-link {
        margin-top: 0; }

  .faq h2 {
    margin-bottom: 30px; }
  .faq ul.questions li {
    padding: 0; }
    .faq ul.questions li h3 {
      text-align: left; }
    .faq ul.questions li p {
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #373E4A;
      text-align: center;
      text-align: left; }

  .nolte_card {
    padding: 40px 10px;
    height: auto;
    background: #F0F7FA;
    margin-top: 0px; }
    .nolte_card .inner {
      margin: 0 auto 20px; }
      .nolte_card .inner h2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px; }
        .nolte_card .inner h2 img {
          margin-top: 15px; }
      .nolte_card .inner .cta {
        text-align: center;
        display: block; }
        .nolte_card .inner .cta a {
          display: inline-block;
          margin-top: 25px; }
    .nolte_card p {
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #373E4A;
      text-align: center; }

  .subscribe {
    position: absolute;
    left: 0;
    background: #F0F7FA;
    width: 100%;
    height: auto; }
    .subscribe .inner {
      width: auto;
      height: 100%;
      margin: auto;
      flex-direction: column;
      padding: 30px 0; }
      .subscribe .inner p {
        font-family: "Gilroy", sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #373E4A;
        text-align: center;
        margin-top: 0 !important; }
      .subscribe .inner .sub_text {
        align-self: auto;
        width: auto; }
      .subscribe .inner .sub_form {
        position: relative;
        right: auto;
        align-self: auto; }
        .subscribe .inner .sub_form input[type=email] {
          display: block;
          margin: 20px auto 0;
          max-width: calc( 100% - 100px ); }
        .subscribe .inner .sub_form .mauticform-row {
          width: 100%; }
          .subscribe .inner .sub_form .mauticform-row button {
            display: block;
            margin: 20px auto 0 auto; }

  .footer {
    padding-top: 30px;
    flex-direction: column; }
    .footer div {
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .features ul {
    flex-direction: row;
    justify-content: center; }
    .features ul li {
      max-width: 50%; }

  .faq ul {
    justify-content: center; }
    .faq ul li {
      max-width: calc( ( 100% / 2 ) - 100px ); } }

/*# sourceMappingURL=style.css.map */
